<%= render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= t('reorder') %></h1>
<h3><%= t('reorder_desc') %></h3><br>
<ul id="item_list">
	<% @products.each do |product| %>
	  <%= content_tag_for(:li, product, :style => "list-style: none;") do %>
      <%= small_image(product) %>
			<%= product.name %>
			<br /><br />
	  <% end %>
  <% end %>	
</ul>
